<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aware.plugin.lux_meter" >

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher">

        <service
            android:name="com.aware.plugin.lux_meter.Plugin"
            android:exported="true"
            android:label="Lux Meter">
        </service>

        <receiver android:name="LuxAlarm"></receiver>

        <provider
            android:name="com.aware.plugin.lux_meter.Provider"
            android:authorities="${applicationId}.provider.lux_meter"
            android:enabled="true"
            android:exported="true" >
        </provider>

        <activity
            android:name="com.aware.plugin.lux_meter.Settings"
            android:exported="true">
        </activity>

    </application>

</manifest>
